/* mixins */

// Login or SignUp
@mixin container {
  margin-top: 90px;
  top: 50px;
  bottom: 0;
}
@mixin box1 {
  margin: 0 auto;
  width: 340px;
  height: 275px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  h1 {
    margin-top: 30px;
    font-size: 43px;
  }
  form {
    margin-top: 15px;
    .form-pack {
      margin-top: 5px;
      input {
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 258px;
        height: 36px;
      }
    }
    button {
      margin-top: 15px;
      width: 258px;
      height: 28px;
      background: $cyanType3;
      border: $cyanType3;
      border-radius: 3px;
      color: #fff;
    }
  }
}

@mixin box2 {
  margin: 0 auto;
  margin-top: 12px;
  width: 340px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-bottom: 35px;
  p {
    color: #262626;
    font-size: 15px;
    padding: 28px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}
// End logIn

// Dashboard
@mixin div-width {
  // width: 530px;
  // height: 225px;
}

@mixin div-padding {
  padding-bottom: 25px;
}

@mixin dash-form {
  margin-top: 15px;
  .form-group {
    margin-top: 5px;
    #nueva-post {
      resize: none;
      border: none;
      width: 258px;
    }
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 258px;
      height: 36px;
    }
    .inputfile + label {
      font-size: 16px;
      font-weight: 700;
      width: 258px;
      color: yellow;
      background-color: green;
    }
  }
  button {
    margin-top: 15px;
    width: 258px;
    height: 28px;
    background: $cyanType3;
    border: $cyanType3;
    border-radius: 3px;
    color: #fff;
  }
}
