.post-it {
  padding: 90px 20px 20px;
  background: #EDEDED;
  display: flex;
  width: 100%;
  height: 50%;
  color: #111;
  z-index: 4;
  margin-top: 66px;
  border: none;

  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    background-color: #f4f4f4;
    border-radius: 18px;
    margin: 10% auto;
    width: 320px;
    height: 320px;

    button {
      display: block;
      padding: 18px;
      width: 100%;
      border-bottom: #fafafa;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        font-weight: 300;
      }
    }

    button:first-child {
      border-radius: 19px 19px 0 0;
    }

    button:last-child {
      border-radius: 0 0 19px 19px;
      border-bottom: none;
    }
  }

  // .dash_container{
  //   position: relative;
  //   width: 100%;
  //   max-width: 1000px;
  //   min-height: calc(100vh - 15vh);
  //   background: #fff;
  //   overflow: hidden;
  //
  // }
  // .top-cards {
  //   display: flex;
  //   justify-content: center;
  //   .card {
  //     position: relative;
  //     display: block;
  //     .userImage {
  //       background: url("https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg") no-repeat center center;
  //       -webkit-background-size: cover;
  //       -moz-background-size: cover;
  //       -o-background-size: cover;
  //       background-size: cover;
  //       width: 147px;
  //       height: 147px;
  //       border-radius: 50%;
  //       display: inline-block;
  //       padding-left: 10px;
  //     }
  //
  //     .info {
  //       display: inline-block;
  //       width: 400px;
  //       margin-left: 5rem;
  //       padding-top: 24px;
  //
  //       .userInfo {
  //         display: flex;
  //         margin-bottom: 25px;
  //         flex-flow: wrap;
  //
  //         h2 {
  //           font-size: 32px;
  //           width: 20%;
  //           display: inline-block;
  //         }
  //
  //         .btn1 {
  //           margin-left: 140px;
  //           margin-top: 2px;
  //           display: inline-block;
  //           width: 30%;
  //           border: 1px solid grey;
  //           height: 26px;
  //           background: #EDEDED;
  //           -webkit-appearance: none;
  //         }
  //
  //         .modalclick {
  //           background: #EDEDED;
  //           font-size: 25px;
  //           margin-left: 5px;
  //           border: none;
  //           display: inline-block;
  //         }
  //       }
  //
  //       .follow-info {
  //         margin-bottom: 25px;
  //
  //         li {
  //           display: inline-block;
  //           padding-right: 45px;
  //         }
  //       }
  //
  //       .name {
  //         font-size: 15px;
  //         font-weight: 300;
  //       }
  //
  //       .formArea {
  //         display: flex;
  //         align-items: center;
  //         padding-top: 70px;
  //         height: 300px;
  //         margin: 10% auto;
  //       }
  //
  //       h3 {
  //         padding-bottom: 24px;
  //       }
  //     }
  //   }
  //
  //   .col-md-6 {
  //     width: (100/ 2) + %;
  //     padding: 0 15px;
  //   }
  // }
  //
  // .posts {
  //   width: 900px;
  //   margin: 0 auto;
  //   padding-bottom: 30px;
  //
  //   // .area-title{
  //   //   margin-top: 80px;
  //   //   border-top: 1px solid #e6e6e6;
  //   //   padding-top: 18px;
  //   //   h1{
  //   //     display: inline-block;
  //   //     padding-right: 50px;
  //   //     padding-bottom: 12px;
  //   //     &:hover{
  //   //       border-top: 1px solid #111;
  //   //     }
  //   //   }
  //   //   h1:first-child{
  //   //     padding-left: 45px;
  //   //   }
  //   // }
  // }
  //
  // .show {
  //   margin-bottom: 180px;
  //
  //   .level1 {
  //     display: flex;
  //
  //     .level2 {
  //       justify-content: center;
  //       flex: 1;
  //       color: yellow;
  //       margin: 0 auto;
  //       display: grid;
  //       grid-template-columns: repeat(3, 290px);
  //       grid-template-rows: 290px 290px;
  //       grid-auto-rows: 290px;
  //       grid-gap: 15px;
  //
  //       div:nth-child(1){
  //         background-color: red;
  //       };
  //       div:nth-child(2){
  //         background-color: black;
  //       }
  //       div:nth-child(3){
  //         background-color: green;
  //       }
  //       div:nth-child(4){
  //         background-color: green;
  //       }
  //       div:nth-child(5){
  //         background-color: green;
  //       }
  //       div:nth-child(6){
  //         background-color: green;
  //       }
  //     }
  //   }
  // }
}
//   .post-something {
//     // background: green;
//     @include div-width;
//     float: right;
//     padding-top: 20px;
//     margin-bottom: 1px;
//     .ww23y {
//       margin: 0 auto;
//       width: 300px;
//       z-index: 4;
//
//       .post-header {
//         // color: green;
//         border: none;
//         background: none;
//         text-align: center;
//         h3 {
//           font-size: 22px;
//           padding-bottom: 12px;
//         }
//       }
//       .yo {
//         // @include dash-form;
//         .form-group{
//           width: 40px;
//
//           input[type=text] {
//               width: 218px;
//               height: 40px;
//           }
//
//           .inputfile {
//           	width: 0.1px;
//           	height: 0.1px;
//           	opacity: 0;
//           	overflow: hidden;
//           	position: absolute;
//           	z-index: -1;
//           }
//           .inputfile + label {
//               margin-top: 10px;
//               cursor: pointer; /* "hand" cursor */
//               width: 10em;
//               text-align: center;
//               height: 24px;
//               font-size: 14px;
//               font-weight: 700;
//               color: white;
//               padding: 3.9px;
//               background-color: $cyanType3;
//               display: inline-block;
//           }
//           .inputfile:focus + label,
//           .inputfile + label:hover {
//               background-color: red;
//           }
//           .inputfile:focus + label {
//           	outline: 1px dotted #000;
//           	outline: -webkit-focus-ring-color auto 5px;
//           }
//         }
//       }
//     }
//   }
//   .area-title {
//     padding-bottom: 39px;
//     ._rrmm3 {
//       text-align: center;
//       font-size: 19px;
//     }
//   }
//         .p{
//           background: purple;
//         }
//       }
//     }
//   }
// }
