// Error messages
.error{
  text-align: center;
}

// Login or Register
.welcome-box{
  position: absolute;
  top: 205px;
  right: 399px;
  background: #fff;
  padding: 8px;
  h1{
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }
}
#weclome-container{
  @include container;
  display: block;

  // paragraph styles below
  p{
    @include welcomeParagraph;
  }
  .a{
    @include parag1;
  }
  P:nth-of-type(2){
    @include parag2;
  }
  .c{
    @include parag3;
    ._login{
      @include parag3_2;
    }
  }
  // paragraph styles ends
  input[type=text]{
    @include formInput;
  }
  input[type=submit] {
    @include theButton;
  }
}

#welcome2{
  @include container;
  display: none;
  p{
    @include welcomeParagraph;
  }
  .a{
    @include parag1;
  }
  P:nth-of-type(2){
    @include parag2;
    a{
      text-decoration: none;
      color: #262626;
    }
  }
  .c{
    @include parag3;
    ._signup{
      @include parag3_2;
  }
  }
  input[type=text]{
    @include formInput;
  }
  input[type=submit] {
    @include theButton;
  }
}
//
// .sign-In{
//   display: inline-block;
//   @include container;
//   .card{
//     @include box1;
//   }
//
//   .noAccount{
//     @include box2;
//   }
// }
//
// .sign-Up{
//   display: inline-block;
//   @include container;
//   .card{
//     @include box1;
//   }
//
//   .hasAccount{
//     @include box2;
//   }
// }
