
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom Colours
$lightPurple: #302D43;
$darkPurple: #282639;
$neonGreen: #92CF48;
$lightGreyBG: #F4F6F9;
$darkGreyBG: #EAEDF3;
$darkGreyFont: #6C7882;
$lightGreyFont:#BBC1CD;
$lightGreyFont2: #A5ADBD;
$orange: #F48320;
$purple: #744BCE;
$cyanType3: #6cf;
