// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Reset
@import "reset";
// Variables
@import "variables";
// Grid
@import "grid/grid12";
// Mixins
@import "mixins/mixins";

// Components
@import "header";

@import "footer";

@import "loginSignup";

@import "dashboard";

@import "timeline";

html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background: #ededed;
}

#container {
  position: relative;
  // display: fle
  // flex: 1 0 auto;
}

#foot-container {
  grid-row-start: 2;
  grid-row-end: 3;
}
// End Main area
.elJefe {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #EDEDED;
}

#app-container {
  position: relative;
  width: 90%;
  max-width: 1300px;
  min-height: calc(100vh - 15vh);
  overflow: hidden;
  border-radius: 5px;
  background: url("https://images.unsplash.com/photo-1530883384668-db906d974ff9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=15235a0796469470d7c10d5aa13215bf&auto=format&fit=crop&w=1543&q=80");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}
